<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Pharos Web Client</title>

    <!-- Bootstrap Core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="static/css/freelancer.min.css" rel="stylesheet">

    <!-- Alert  CSS -->
    <link href="static/css/sweetalert.css" rel="stylesheet">

    <!-- sda CSS -->
    <link href="static/sda/css/sda.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!--Toast Message CSS-->
    <link href="static/jquery.toast.css" rel="stylesheet" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript" src="static/jquery.js"></script>

    <script type="text/javascript">
         function onLoad() {
             app_onLoad();
         }
    </script>

    <!-- jQuery -->
    <script src="static/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="static/js/jquery.easing.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="static/js/jqBootstrapValidation.js"></script>
    <script src="static/js/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="static/js/freelancer.min.js"></script>

    <!-- Alert JavaScript-->
    <script src="static/js/sweetalert.min.js"></script>

    <!-- common JavaScript-->
    <script src="static/sda/js/common.js"></script>

    <!-- sdamanager JavaScript-->
    <script src="static/sda/js/app.js"></script>

</head>

<body id="page-top" class="index" onload="onLoad()">
<div id="skipnav"><a href="#maincontent">Skip to main content</a></div>

<!-- Navigation -->
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="/">Pharos Web Client</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="page-scroll">
                    <a href="/sdamanager"><font size="4" color="chocolate">Pharos Anchor</font></a>
                </li>
                <li class="page-scroll">
                    <a href="/contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Section -->
<section>
    <div id="sda_main" class="col-lg-12 sda_container">
        <div class="row" style="padding-top:20px">
            <div class="col-lg-12">
                <p align="left"><strong id="group_info"></strong></p>
            </div>
        </div>
        <div class="row" style="padding-top:10px">
            <div class="col-lg-6" style="padding-top:10px">
                <div class="panel panel-info filterable">
                    <div class="panel-heading">
                        <h3 class="panel-title">App List</h3>
                    </div>
                    <div class="panel-body">
                        <table id="group_app_table" class="table table-hover noselect">
                            <thead>
                            <tr id="group_container_tr">
                                <th style="font-size:130%;text-align:center;">No.</th>
                                <th style="font-size:130%;text-align:center;">Name</th>
                                <th style="font-size:130%;text-align:center;">Services</th>
                            </tr>
                            </thead>
                            <tbody id="group_app_tbody">
                            <tr>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-6" style="padding-top:10px">
                <div class="panel panel-success filterable">
                    <div class="panel-heading">
                        <h3 id="device_list" class="panel-title">Device List</h3>
                    </div>
                    <div class="panel-body">
                        <table id="group_device_table" class="table table-hover noselect">
                            <thead>
                            <tr id="group_device_tr">
                                <th style="font-size:130%;text-align:center;">No.</th>
                                <th style="font-size:130%;text-align:center;">Name</th>
                                <th style="font-size:130%;text-align:center;">IP</th>
                                <th style="font-size:130%;text-align:center;">Status</th>
                            </tr>
                            </thead>
                            <tbody id="group_device_tbody">
                            <tr>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="sda_side" class="div_hidden">
        <div class="row">
            <div class="col-lg-12">
                <p><strong id="group_app_name" style="font-size:150%"></strong></p>
            </div>
        </div>
        <div class="row">
            <div class="border_sda">
                <div>
                    <p>&nbsp;&nbsp;- Start App
                        <a id="btn_start_group_app" class="btn btn-primary" style="float:right" data-toggle="modal">
                            &nbsp;<i class="fa fa-chevron-right fa-1x"></i>&nbsp;
                        </a>
                    </p>
                </div>
                <div>
                    <p>&nbsp;&nbsp;- Stop App
                        <a id="btn_stop_group_app" class="btn btn-primary" style="float:right" data-toggle="modal">
                            &nbsp;<i class="fa fa-chevron-right fa-1x"></i>&nbsp;
                        </a>
                    </p>
                </div>
                <div>
                    <p>&nbsp;&nbsp;- Update App
                        <a id="btn_update_group_app" class="btn btn-primary" style="float:right" data-toggle="modal">
                            &nbsp;<i class="fa fa-chevron-right fa-1x"></i>&nbsp;
                        </a>
                    </p>
                </div>
                <div>
                    <p>&nbsp;&nbsp;- Delete App
                        <a id="btn_delete_group_app" class="btn btn-primary" style="float:right" data-toggle="modal">
                            &nbsp;<i class="fa fa-chevron-right fa-1x"></i>&nbsp;
                        </a>
                    </p>
                </div>
                <!-- update group yaml is undevelopment
                <div>
                    <p>&nbsp;&nbsp;- Update YAML
                        <a href="#dig_update_group_YAML" id="btn_update_group_YAML" class="btn btn-primary" style="float:right" data-toggle="modal">
                            &nbsp;<i class="fa fa-chevron-right fa-1x"></i>&nbsp;
                        </a>
                    </p>
                </div>
            -->
            </div>
        </div>
    </div>
</section>

<!--loading bar-->
<div class="outer">
    <div class="inner">
        <div id="setting_loading_bar" class="modal" style="display: none;background-color:#808080;opacity: .6;">
            <div style="height:100px;margin-top:20%">
                <center><img alt="test" src="static/img/loding_bar.gif" style="width:10%;height:10%"></center>
                <br/>
                <center>
                    <p>Waiting response from the server...</p>
                </center>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="dig_update_group_YAML" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog" style="width:40%;">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container" style="width:100%;">
                    <div class="row" style="text-align:center;padding-top:15px">
                        <h2>Update YAML</h2>
                        <hr class="star-primary">
                    </div>
                    <div class="row" style="padding-top:15px;">
                        <div class="col-lg-12">
                            <textarea class="textarea_radius" id="textarea_update_group_yaml"
                                      style="resize:None;width:100%;height:540px"></textarea>
                            <button type="button" data-dismiss="modal" class="btn btn-default"
                                    style="float:right"> &nbsp;Cancel
                            </button>
                            <button type="button" id="btn_confirm_update_group_YAML" class="btn btn-default"
                                    style="float:right">Update
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div style="text-align:center;">
                    <ul class="list-inline item-details">
                        <p>Visit The below sites to make your own YAML</p>
                        <li>
                            <strong><a href="http://swagger.io">Go to swaager.io</a></strong>
                        </li>
                        <li>
                            <strong><a href="http://editor.swagger.io/#/">Go to online YAML editor</a></strong>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>